.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}


.banner {
  margin-top: 8%;
  margin-left: 6%;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;

}

.banner video {

  position: static;
  margin-top: 80px;
  left: 10%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}

.banner h2 {
  position: relative;
  margin-left: -100%;
  font-family: "Roboto";
  left: 0;
  height: 152px;
  top: 20px;
  width: 100%;
  background-color: #ffffff;
  font-size: 350%;
  text-align: left;
  text-transform: uppercase;
  color: #121212;
  line-height: 120%;
  mix-blend-mode: screen;

}

.caption {
  margin: 6%;
  font-family: "Open Sans";
  font-size: 150%;
}

.zheni {
  width: 45%;
  padding-top: 100px;
  padding-left: 20px;
  color: #1f1e1e;
  font-size:250%;
  margin-left: 50px;
}

.mainbodybg {
  height: auto;
  position: absolute;
  top:150px;
  right: 100px;
  padding-bottom:50px;
}



/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .topnav {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}
