html{
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto; 
  background-color: #ffffff;
  min-width: fit-content;

  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

main {  
  min-width: fit-content;
  font-family: "Raleway";
  background-color: #020301;
}

#hero {
  height: 1000px;
  position: relative;
}

#hero video {
  margin-top: -120px;
  width: 105%;
  filter: brightness(10%);
  transition: all 1000ms;
}

#hero video:hover {
  filter: brightness(50%);
}

#hero h1 {
  z-index: 2;
  position: relative;
  color: #d7d8db;
  font-family: "Montserrat";
  font-size: 60px;
  margin: auto;
  left: calc(25% - 30px);
  top: 300px;
}

#hero h2 {
  z-index: 2;
  position: relative;
  color: #d7d8db;
  font-family: "Montserrat";
  font-size: 30px;
  margin: auto;
  left: calc(25% + 130px);
  top: 310px;
}


@media screen and (max-width: 800px) {
  .topnav {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}
