.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

h1,h2 {
  font-family:Quando,medium;
}

h3,h4,p {
  font-family:roboto,bold;
}

.banner {
  margin-top: 30vh;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner video {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  object-fit: cover;

}

.banner h2 {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  line-height: 30vh;
  mix-blend-mode: screen;

}

.zheni {
  width: 45%;
  padding-top: 100px;
  padding-left: 20px;
  color: #1f1e1e;
  font-size:250%;
  margin-left: 50px;
}

.mainbodybg {
  height: auto;
  position: absolute;
  top:150px;
  right: 100px;
  padding-bottom:50px;
}


.sub_h3 {
  font-size: 57.5%;


  line-height: 30px;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .topnav {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}
