.body {
  background-color: #f5f5f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}





/* Header/Blog Title */
.header_sub {
  background-image: url("/antares.jpg");
  background-color: black;
  font-family: Quando, medium;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  background-image: url("antares.jpg");
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: red;
  margin: 5px;
  padding: 5px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
