$primary-white: #f1f1f1
$main-color: #7c24ef
$accent1: #79A1AB
$accent2: #AB4D5E
$primary-black: #141414

@mixin center($direction: row)
    display: flex
    flex-direction: $direction
    justify-content: center
    align-items: center

body
    margin: 0
    padding: 0

body *
    border: 0px solid #121212

body::-webkit-scrollbar
    display: none

body
    -ms-overflow-style: none
    scrollbar-width: none

nav, footer
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    z-index: 3

nav
    position: fixed
    left: 0
    top: 0
    gap: 2vw
    padding: 0px 8vw 0px 8vw
    // border-bottom: 1px solid $primary-white
    backdrop-filter: blur(5px) brightness(1.85)
    box-shadow: 0px 0px 50px #ffffff30

    img
        height: 60px
        filter: drop-shadow(0 0 2px #ffffff50)

    a:not(:first-child)
        text-decoration: none
        text-transform: uppercase
        color: #ffffff80
        font-size: 18px
        transition: all 300ms ease-in-out
        padding: 40px 15px 40px 15px
    a:hover
        color: $primary-white

main
    // padding-top: 95px
    // background-color: $main-color
    // background: linear-gradient(140deg, hsl(266deg 86% 34%) 0%, hsl(337deg 47% 45%) 67%, hsl(48deg 89% 45%) 100%)
    margin-top: 0px
    z-index: 1
    min-height: 120vh
    video
        // height: 100px
        width: 100%
        filter: brightness(0.2)
        position: absolute
        top: 0
        z-index: 0
    h1
        text-align: center
        color: $primary-white
        text-transform: uppercase
        font-size: 64px
        position: relative
        top: 220px
        z-index: 2
        font-family: "Montserrat"
    h2
        text-align: center
        color: $primary-white
        text-transform: uppercase
        font-size: 32px
        position: relative
        top: 200px
        z-index: 2
        font-family: "Montserrat"

footer
    @include center
    padding: 20px 0 20px 0
    border-top: 1px solid $primary-white
    p
        max-width: 80%
        text-align: center
    a
        color: $primary-black

@media only screen and (max-width: 800px)
    nav
        justify-content: center
        gap: 0
        padding: 15px 0 15px 0
        a:not(:first-child)
            display: none

    main
        width: 100%
        overflow: hidden
        display: flex
        flex-direction: column
        align-items: center
        video
            object-fit: cover
            height: 90vh
            width: max-content
