html {
   scroll-behaviour: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.body {
  background-color: #ffffff;
  min-width: fit-content;
}

.logo {
  width: 80px;
  height: 80px;
  margin-top: 32px;
  margin-left: 50px;
  float: left;
}

/* Ripple effect */
.ripple {
  font-family: "Quando",cursive;
  border-radius: 25px;
  background-position: center;
  transition: background 0.45s ease-in;
}


/* Add a black background color to the top navigation */
.topnav{
  z-index: 9999;
  padding-bottom: 32px;
  display:inline-block;
  margin-top: 50px;
  font-family: "Quando",cursive;
  padding-left: 40px;
  padding-top: -10px;
  overflow: hidden;
}

/*
.topnav_dark a {
  font-family: "Quando",cursive;
  position: relative;
  float: left;
  color: white;
  text-align: center;
  margin-right: 12px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18.5px;
}
*/

/* Style the links inside the navigation bar */
.topnav a:not(.logo_special), .dropbtn, .dropdown-content, .dropdown-content a {

  font-family: "Quando",cursive;
  position: relative;
  display:inline-block;
  color: black;
  text-align: center;
  margin-right: 12px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18.5px;
}

/* Change the color of links on hover 
.topnav_dark a:hover {
  background-color: white;
  color: black;
}
*/

.topnav a:not(.logo_special):hover {
  background-color: #1f1e1e;
  color: white;
}


/*MOBILE MENU*/
.mobile_menu {
  display: none;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 83%;
}

.bar1, .bar2, .bar3 {
  border-radius: 5px;
  width: 35px;
  height: 4px;
  background-color: #1f1f21;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 3px);
}

.change .bar2 {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}



@media screen and (max-width: 800px) {
  .topnav, .logo {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  margin-top: 60px;   
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #f5f5f0; /* Black fallback color */
  background-color: #ffffff; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  height: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  font-family: "Quando",cursive;
  padding: 8px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 36px;
  color: #121212;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.dropdown {
  z-index: 99;
  position: absolute;
  display: inline-block;
  overflow: visible;
}

.dropdown-content {
  background-color: royalblue;
  z-index: 98;
  top: 100%;
  display: none;
  
  border-radius: 25%; 
  flex-direction: column;
  background-color:white;
  position: absolute;
  padding: 0;
  min-width: 140px;
  overflow: visible;
}

.dropdown-content a {

  z-index: 97;
  left: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: background-color 0.5s ease;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: flex;}
.dropdown-content:hover .dropdown-content {display: flex;}
.dropbtn:hover .dropdown-content {display: flex;}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
