/* Ripple effect */
.ripple {
  font-family: "Quando",cursive;
  border-radius: 25px;
  background-position: center;
  transition: background 0.45s ease-in;

}
/* Add a black background color to the top navigation */
.topnav, .topnav_dark {
  font-family: "Quando",cursive;
  padding-left: 50px;
  padding-top: 17px;
  overflow: hidden;
}

.topnav_dark a {
  font-family: "Quando",cursive;
  position: relative;
  float: left;
  color: white;
  text-align: center;
  margin-right: 12px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18.5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Quando",cursive;
  position: relative;
  float: left;
  color: black;
  text-align: center;
  margin-right: 12px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18.5px;
}

/* Change the color of links on hover */
.topnav_dark a:hover {
  background-color: white;
  color: black;
}

.topnav a:hover {
  background-color: #1f1e1e;
  color: white;
}

.logo {
  position: relative;
  float: left;
  margin-right: 18px;
  width: 3.33%;
  height: 3.33%;
}
/*MOBILE MENU*/
.mobile_menu {
  display: none;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 83%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #1f1f21;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


@media screen and (max-width: 800px) {
  .topnav {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}
