.body {
  background-color: #fafcff;
}

.navbar{
  background-color: #9b04db;
  display: flex;
  margin: auto;
  width: 95%;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Quando", cursive;
}

.hero {

  /*
  
  background-color: #faffc9;
  
  */
  display: flex;
  margin: auto;
  width: 95%;
  margin-bottom: 2rem;

}

.hero_text {
  order: 1;
  margin-right: 1rem;
}

.headline {

  color: #db074d;
  display: inline-block;
  margin: auto;
  width: 90%;
  height: 50%;

  margin-bottom: 2rem;
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Domine', bold;
  line-height: 8rem;

}

.subheading {


  display: inline-block;
  margin: auto;
  width: 90%;
  color: #0a090a;
  font-family: 'Domine';

}

.hero_image {
  order: 2;
  background-color: #f7eb05;
  display: inline-block;
  margin: auto;
  width: 120%;
  height: 40rem;

}


.footer {

  background-color: #9b04db;

  display: flex;

  gap: 10%;

  text-align: center;
  justify-content: center;
  

  margin: auto;
  width: 95%;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.fa:not(.fa-moon-o,.fa-sun-o) {

  padding: 20px;
  margin-right: 0;
  font-size: 30px;
  border-radius: 0%;
  width: 20%;
  text-align: center;
  text-decoration: none;
  transition: background 1s ease-in;

}

/* Add a hover effect if you want */
.fa:not(.fa-moon-o,.fa-sun-o):hover {
  transition: background 1s;
  background: white;
  color:black;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-youtube {
  background: black;
  color: white;
}

.fa-envelope {
  background: black;
  color: white;
}













.banner {
  margin-top: 8%;
  margin-left: 6%;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;

}

.banner video {

  position: static;
  margin-top: 80px;
  left: 10%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}

.banner h2 {
  position: relative;
  margin-left: -100%;
  font-family: "Roboto";
  left: 0;
  height: 152px;
  top: 12%;
  width: 100%;
  background-color: #ffffff;
  font-size: 375%;
  text-align: left;
  text-transform: uppercase;
  color: #121212;
  line-height: 120%;
  mix-blend-mode: screen;

}

.caption {
  margin: 6%;
  font-family: "Open Sans";
  font-size: 150%;
}

.zheni {
  width: 45%;
  padding-top: 100px;
  padding-left: 20px;
  color: #1f1e1e;
  font-size: 250%;
  margin-left: 50px;
}

.mainbodybg {
  height: auto;
  position: absolute;
  top:150px;
  right: 100px;
  padding-bottom:50px;
}



/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .navbar {
    display: none;
  }
  .mobile_menu {
    display: inline-block;
  }
}
